@import "variables";

@import "components/typography";
@import "components/form";
@import "components/table";

.header {
    float: right;
}

.title {
    text-align: center;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.clearfix::before {
    content: " ";
}

.txtuppercase {
    text-transform: uppercase;
}

.stateHeader {
    display: flex;

    &Parent {
        flex-direction: row;
        justify-content: space-between;
    }

    &Text {
        flex-direction: column;
        justify-content: flex-start;
        align-self: flex-start;
    }

    &Img {
        flex-direction: row;
        justify-content: flex-end;
    }
}

.standardHeader {
    padding-top: 15px;
}

.addrInfo {
    padding-top: 15px;
}

h3 {
    margin-top: 0em;
}

body {
    font-family: "Times New Roman";
    font-size: 15px;
}

