{{#eq language_preference "Spanish"}}
    <div class="rTable addrInfo">
        <div class="rTableRow">
            <div class="rTableCell">
                Ésta es una carta muy importante. Por favor, léala cuidadosamente.  Si no puede leer inglés, por favor llévesela a alguien que se la pueda leer de inmediato, o comuníquese con la Administración del Seguro Social para recibir ayuda gratis.
            </div>
        </div>
    </div>
{{/eq}}
