<div class="rTable">
    <div class="rTableRow">
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
        <div class="rTableCell">Date: {{current_date}}</div>
    </div>
    <div class="rTableRow">
        <div class="rTableCell"></div>
        <div class="rTableCell"></div>
        <div class="rTableCell">Case ID: {{case.caseId}}</div>
    </div>
</div>
