.rTable {
    display: table;
    width: 100%;

    &.questionnaire {
        border-spacing: 0px;
        border-collapse: collapse;
        margin-left: 40px;

        .rTableCell {
            white-space: nowrap;
            padding-top: 15px;
            padding-bottom: 0;

            &.no-top {
                padding-top: 0px !important;
            }

            &:nth-child(1) {
                width: auto;
                padding-right: 10px;
            }

            &.underline {
                width: 100%;
                padding-top: 30px;
            }
        }
    }


    &Row {
        display: table-row;
    }

    &Heading {
        display: table-header-group;
    }

    &Cell, &Head {
        display: table-cell;
        padding: 3px 0;
        width: 33%;
    }

    &Heading {
        display: table-header-group;
        font-weight: bold;
    }

    &Foot {
        display: table-footer-group;
        font-weight: bold;
    }

    &Body {
        display: table-row-group;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    page-break-inside: auto;

    th, td {
        border: 1px solid $black;
        height: 50px;
        word-wrap: break-word;
        padding: 10px;
        text-align: center;
    }

    tr.table-break {
        page-break-inside: avoid;
        page-break-before: always;
    }
}
