.rTable {
    display: table;
    width: 100%;

    &.questionnaire {
        border-spacing: 0px;
        border-collapse: collapse;
        margin-left: 40px;
        margin-right: 1cm;
        width: 176mm;

        .rTableRow {
            max-width: 100%;
        }

        .rTableCell {
            white-space: nowrap;
            padding-top: 15px;
            padding-bottom: 0;

            &.wrap {
                white-space: normal;
            }

            &.no-top {
                padding-top: 0px !important;
            }

            &.underline {
                width: 100%;
                padding-top: 30px;
            }

            &:nth-child(1) {
                width: auto;
                padding-right: 10px;
            }

            &:nth-child(2) {
                width: auto;
                min-width: 105mm;
            }
        }
    }


    &Row {
        display: table-row;
    }

    &Heading {
        display: table-header-group;
    }

    &Cell, &Head {
        display: table-cell;
        padding: 3px 0;
        width: 33%;
    }

    &Heading {
        display: table-header-group;
        font-weight: bold;
    }

    &Foot {
        display: table-footer-group;
        font-weight: bold;
    }

    &Body {
        display: table-row-group;
    }
}

table {
    border-collapse: collapse;
    width: $table-width;
    page-break-inside: auto;

    th, td {
        border: 1px solid $black;
        height: 50px;
        word-wrap: break-word;
        padding: 10px;
        text-align: center;
    }

    tr {

        &.table-break {
            page-break-inside: avoid;
            page-break-before: always;
        }

        &.txtuppercase {

            td {
                height: auto;
            }
        }

    }

    &.questionnaire {

        &.indent {
            margin-left: 30px;
        }

        th, td {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        th, td:not(.underline) {
            border: 0px;
            text-align: left;
            vertical-align: bottom;
        }

        td:nth-child(1):not(.underline) {
            white-space: nowrap;
            width: auto;
            padding-left: 0px;

            &.wrap {
                white-space: normal;
            }
        }

        td:nth-child(1).underline {
            margin-left: 30px;
        }

        td:nth-child(2) {
            width: 100%;
        }

    }

    &.signature {
        border-collapse: separate;
        border-spacing: 15px;
        margin-left: -15px;
        width: 100%;

        th, td {
            text-align: left;
            padding-left: 5px;
            border: none;
            border-top: 1px solid black;
            vertical-align: top;
            height: 40px;
        }
    }

}
