.rTable {
  display: table;
  width: 100%; }
  .rTableRow {
    display: table-row; }
  .rTableHeading {
    display: table-header-group; }
  .rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    width: 33%; }
  .rTableHeading {
    display: table-header-group;
    font-weight: bold; }
  .rTableFoot {
    display: table-footer-group;
    font-weight: bold; }
  .rTableBody {
    display: table-row-group; }
