<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cardiac Questionnaire Claimant-Adult</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="stateHeaderParent">
            <div class="stateHeader">
                <img src="{{letterhead}}"></img>
            </div>
        </div>
        <div class="rTable">
            <div class="rTableRow">
                <div class="rTableCell"></div>
                <div class="rTableCell"></div>
                <div class="rTableCell">Claimant Name: {{clmt_full_name}}</div>
            </div>
        </div>

        {{>barcode}}

        <h3 class="title txtuppercase">Please Complete And Return By {{clmt_form_return_date}}</h3>

        <p class="title txtuppercase"><strong><u>Cardiac Questionnaire</u></strong></p>

        <p>If you need more space, please attach additional page(s).</p>

        <p>1) Do you have any chest discomfort? <span class="square"></span> Yes  <span class="square"></span> No</p>

        <ol>
            <li>
                How often does it occur?  ______________________________________________________________________
                <span>___________________________________________________________________________________________</span>
            </li>
            <li>
                What brings on your chest discomfort? ___________________________________________________________
                <span>___________________________________________________________________________________________</span>
            </li>
            <li>
                What does it feel like? ________________________________________________________________________ 
                <span>___________________________________________________________________________________________</span>
            </li>
            <li>How long do episodes last? ____________________________________________________________________</li>
            <li>
                What relieves it? ____________________________________________________________________________
                <span>__________________________________________________________________________________________</span>
            </li>
            <li>Does it radiate? If so, where? __________________________________________________________________</li>
            <li>Does it occur at rest? ________________________________________________________________________</li>
            <li>Does it awaken you from sleep? ________________________________________________________________</li>
        </ol> 

        <p>2) Do you have shortness of breath? <span class="square"></span> Yes  <span class="square"></span> No</p>
        
        <ol>
            <li>When does it occur? __________________________________________________________________________</li>
            <li>What brings it on? ____________________________________________________________________________</li>
            <li>What relieves it? _____________________________________________________________________________</li>
            <li>How far can you walk without stopping to rest? ____________________________________________________</li>
            <li>How many flights of stairs can you climb without stopping to rest? _____________________________________</li>
        </ol>

        <p>3) Do you have additional symptoms (for example, fatigue, weakness, lightheadedness)? <span class="square"></span> Yes  <span class="square"></span> No <br>
        If yes, describe.</p>
        <p>_________________________________________________________________________________________________</p>
        <p>_________________________________________________________________________________________________</p>
        <p>_________________________________________________________________________________________________</p>

        <p>4) List current cardiac medication(s).</p>

        <table>
            <tr class="txtuppercase">
                <td>Medication, Dosage, and Frequency</td>
                <td>Date Started</td>
                <td>If Prescribed, Name of Health Care Professional</td>
                <td>Side Effect(s)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <p>5) Describe any activities you have stopped due to shortness of breath or chest discomfort.</p>
        <p>_________________________________________________________________________________________________</p>
        <p>_________________________________________________________________________________________________</p>
        <p>_________________________________________________________________________________________________</p>

        <p>6) If you have seen any health care professionals for your cardiac condition since you filed your claim, complete the chart below.<p>

        <table>
            <tr class="txtuppercase">
                <td>Name of Health Care Professional</td>
                <td>Address And Phone Number</td>
                <td>Date of Last Visit and Next Scheduled Appointment (if any)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <br><br><br><br>

        <p class="signature">
            <span>__________________________________________</span><span>___________________</span><span>___________________________</span>
            <span>Name of person completing this form (Please print)</span><span>Date</span><span>Phone</span>
        <p>
        <p class="signature address">
        <span>__________________________________________</span><span>___________________</span><span>_____________</span><span>____________</span>
            <span>Address</span><span>City</span><span>State</span><span>ZIP</span>
        </p>

        {{>paperwork_reduction_act}}
    </body>
</html>
