<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Seizure Questionnaire Claimant-Adult</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

    	{{>standard_header}}

        <div class="rTable">
            <div class="rTableRow">
                <div class="rTableCell"></div>
                <div class="rTableCell"></div>
                <div class="rTableCell">Claimant Name: {{clmt_full_name}}</div>
            </div>
        </div>

        {{>barcode}}

        <h3 class="title txtuppercase">Please Complete And Return By {{clmt_form_return_date}}</h3>

        <p class="title txtuppercase"><strong><u>Seizure Questionnaire</u></strong></p>

        <p>If you need more space, please attach additional page(s).</p>

        <p>1) Do you have seizures? <span class="square"></span> Yes  <span class="square"></span> No</p>

        <p>If yes:</p>

        <div class="rTable questionnaire">
            <div class="rTableRow">
                <div class="rTableCell no-top">
                    a)  &nbsp;When was your first seizure?
                </div>
                <div class="rTableCell underline no-top"></div>
            </div>
        </div>

        <div class="rTable questionnaire">
            <div class="rTableRow">
                <div class="rTableCell">
                    b)  &nbsp;When did you have your last seizure?
                </div>
                <div class="rTableCell underline"></div>
            </div>
        </div>

        <div class="rTable questionnaire">
            <div class="rTableRow">
                <div class="rTableCell">
                    c)  &nbsp;Do your seizures usually occur during the day, during the night, or both? Please explain.
                </div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell underline">
                </div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell underline"></div>
            </div>
        </div>

        <div class="rTable questionnaire">
            <div class="rTableRow">
                <div class="rTableCell">
                    d)  &nbsp;How long do the seizure(s) last?
                </div>
                <div class="rTableCell underline"></div>
            </div>
        </div>

        <div class="rTable questionnaire">
            <div class="rTableRow">
                <div class="rTableCell">
                    e)  &nbsp;How often do seizures occur?
                </div>
                <div class="rTableCell underline"></div>
            </div>
        </div>

        <div class="rTable questionnaire">
            <div class="rTableRow">
                <div class="rTableCell">
                    f)  &nbsp;List the approximate date(s) of seizure(s) in the last 12 months.
                </div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell underline">
                </div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell underline"></div>
            </div>
        </div>

        <div class="rTable questionnaire">
            <div class="rTableRow">
                <div class="rTableCell">
                    g)  &nbsp;Describe what happens before, during, and after you have a seizure and how long until you can resume normal activity.
                </div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell underline">
                </div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell underline"></div>
            </div>
        </div><br>

        <p>2) Describe event(s) that cause your seizure(s).</p>
        <p class="underline"></p>
        <p class="underline"></p>
        <p class="underline"></p><br>

        <p>3) List current seizure medication(s).</p>

        <div class="page-break"></div>

        <table>
            <tr class="txtuppercase">
                <td>Medication, Dosage, and Frequency</td>
                <td>Date Started</td>
                <td>If Prescribed, Name of Health Care Professional</td>
                <td>Side Effect(s)</td>
            </tr>
            <tr class="table-break">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <p>4) Have you visited an emergency room for seizures? If so, when and where?</p>
        <p>___________________________________________________________________________________________</p>
        <p>___________________________________________________________________________________________</p>

        <p>5) If you have seen any health care professionals for your seizures since you filed your claim, complete the chart below.<p>
        <table>
            <tr class="txtuppercase">
                <td>Name of Health Care Professional</td>
                <td>Address And Phone Number</td>
                <td>Date of Last Visit and Next Scheduled Appointment (if any)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="table-break">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <p>6) Provide the name, address, and phone number of any health care professionals and other individuals (including non-family members) who have witnessed your seizure(s). </p>
        <table>
            <tr class="txtuppercase">
                <td>Witness Name</td>
                <td>Address And Phone Number</td>
                <td>Phone Number</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="table-break">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <br><br><br><br>

        <p class="signature">
            <span>_________________________________________</span><span>__________________</span><span>___________________________</span>
            <span>Name of person completing this form (Please print)</span><span>Date</span><span>Phone</span>
        <p>
        <p class="signature address">
        <span>_________________________________________</span><span>___________________</span><span>_____________</span><span>____________</span>
            <span>Address</span><span>City</span><span>State</span><span>ZIP</span>
        </p>

        {{>paperwork_reduction_act}}

        {{>standard_footer}}
    </body>
</html>
