<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Intro Letter</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h3 class="title">Standards - Shared Language</h3>

        <p>We are sending this letter to you in both a standard print version and in a Braille version.  You will receive them in separate envelopes</p>

        <p>We are sending this letter to you in both a standard print version and on a compact disc in Microsoft Word format.  You will receive them in separate envelopes</p>
        
        <p>We are sending this letter to you in both a standard print version and on an audio compact disc.  You will receive them in separate envelopes</p>

        <p>We are sending this letter to you in both a standard print version and a large print version.  You will receive them in separate envelopes</p>

        <p>As you requested, we will call you within five business days of the date of this letter to read it to you.</p>

        <p>Ésta es una carta muy importante. Por favor, léala cuidadosamente.  Si no puede leer inglés, por favor llévesela a alguien que se la pueda leer de inmediato, o comuníquese con la Administración del Seguro Social para recibir ayuda gratis.</p>

        <p><strong>If You Want An Interpreter To Help You</strong></p>

        <p>We provide free interpreter services to conduct your Social Security business.  You may use your own if you prefer, but we might also have our interpreter present.</p>

        <p><strong>Suspect Social Security Fraud?</strong></p>

        <p>If you suspect Social Security fraud, please visit http://oig.ssa.gov/r or call the Inspector General's Fraud Hotline at 1-800-269-0271 (TTY 1-866-501-2101).</p>

        <p><strong>¿Sospecha que alguien está cometiendo fraude contra el Seguro Social?</strong></p>

        <p>Si sospecha de fraude contra el Seguro Social, por favor visite http://oig.ssa.gov/e o llame a la línea directa de abuso y fraude de la Oficina del Inspector General, 1-800-269-0271, y oprima el 7 para espanol (TTY 1-866-501-2101).</p>

        <p><small><strong>Paperwork Reduction Act Statement</strong> - This information collection meets the requirements of 44 U.S.C. § 3507, as amended by section 2 of the Paperwork Reduction Act of 1995. You do not need to provide this information unless we display a valid Office of Management and Budget (OMB) control number. The OMB control number for this collection is 0960-0555. We estimate that it will take between 5 to 30 minutes to read the instructions, gather the facts, and answer the questions. <i><strong>Send only comments relating to our time estimate above to:</strong> SSA, 6401 Security Blvd, Baltimore, MD 21235-6401.</i></small></p>
    </body>
</html>
